{{!< default}}

{{!-- The main content area --}}
<main id="site-main" class="site-main index-page outer">
    <div class="inner posts">
        {{#get "posts" filter="featured:true" limit="1"}}
            {{#if posts}}
                <h2 class="post-featured-title">Featured</h2>

                <div class="post-feed-featured">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            {{#get "posts" filter="featured:true" limit="50"}}
                                {{#foreach posts}}
                                    <div class="swiper-slide">
                                        {{> "post-card-featured"}}
                                    </div>
                                {{/foreach}}
                            {{/get}}
                        </div>
                    </div>
                    <div class="swiper-button-container">
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                </div>
            {{/if}} 
        {{/get}}

        <!-- Filter for real -->
        <div class="filter-container">
            <div class="filter-container-inner">
                <ul class="tags-conainer">
                    {{#get "tags"}}
                        {{#foreach tags}}
                            <li class="tag-item">
                                <a href="{{url}}" title="{{name}}" class="tag tag-{{id}} {{slug}}">{{name}}</a>
                            </li>
                        {{/foreach}}
                    {{/get}}
                </ul>
                <button class="gh-search-icon" aria-label="search" data-ghost-search>
                    <svg width="24" height="24" fill="none" viewBox="0 0 24 24"><path d="M14.949 14.949a1 1 0 0 1 1.414 0l6.344 6.344a1 1 0 0 1-1.414 1.414l-6.344-6.344a1 1 0 0 1 0-1.414Z" fill="currentColor"/><path d="M10 3a7 7 0 1 0 0 14 7 7 0 0 0 0-14Zm-9 7a9 9 0 1 1 18 0 9 9 0 0 1-18 0Z" fill="currentColor"/></svg>
                </button>
            </div>
        </div>

        <!-- Non-featured posts with pagination -->
        <div class="post-feed">
            {{#get "posts" limit=@config.posts_per_page page=pagination.page}}
                {{#foreach posts}}
                    {{> "post-card"}}
                {{/foreach}}
            {{/get}}
        </div>

        {{!-- Pagination --}}
        {{pagination}}
    </div>
    
</main>
